.container {
    display: flex;
    margin-bottom: 30px;
    padding: 30px;
}

.container .text {
    margin: 120px;
    font-size: 16px;
    
    
}

.container .text h1 {
    color: rgb(87, 85, 85);
    font-size: 30px;
}

.container .text p {
    color: gray;
    line-height: 30px;
    width: 300px;
    font-size: 22px;
}

.image {
    width: 600px;
}

@media(max-width:576px) {
    .container{
        display: grid;
        padding: 0;
    }
    
    .container .text {
        margin: 60px;
    }

    .image {
        width: 100%;
    }
}