footer {
    background-color: khaki;
    align-items: center;
    padding: 70px;
    margin:-10px;
}

#footer {
    display: flex;
}

.dados {
    margin: -30px 200px;
    align-items: center;
    justify-content: center;
}

.dados h1 {
    color: rgb(82, 80, 80);
    font-size: 20px;
}

.perfil {
    border-radius: 100px;
    width: 160px;
}

.social {
    display: flex;
}

.social img {
    width: 60px;
    margin: 0 20px;
    position: relative;
    left: -20px;
}


@media(max-width:576px) {

    footer {
        padding: 30px;
        margin: 0;
    }

    #footer {
        display: grid;
    }

    .dados {
        margin: auto;
    }

    .perfil {
        margin-top: 60px;
    }
}