nav {
    border-color: rgb(98, 119, 139);
    border-style: outset;
    border-top: none;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;
    display: flex;
}

.btn {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    padding: 20px;
    margin: 0px 10px;
}

.btn:hover {
    background-color: rgb(98, 119, 139);
    color: black;
    
}

#colaborador {
    position: relative;
    left: 600px;
    border-radius: 10px;
}